<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slide Share</title>
    <link rel="stylesheet" href="https://vec-cse.github.io/init-fronend/page.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"/>
    <script type="text/javascript">
    (function(c,l,a,r,i,t,y){
        c[a]=c[a]||function(){(c[a].q=c[a].q||[]).push(arguments)};
        t=l.createElement(r);t.async=1;t.src="https://www.clarity.ms/tag/"+i;
        y=l.getElementsByTagName(r)[0];y.parentNode.insertBefore(t,y);
    })(window, document, "clarity", "script", "eiz3mun5pu");
</script>
    
</head>
<body>
    <nav class="navbar">
        <div class="logo__container">
            <img src="https://vec-cse.github.io/init-fronend/logo.png" alt="">
        </div>
        <span class="clg__name">
            VELAMMAL ENGINEERING COLLEGE
        </span>
        <div class="liblogo__container">
            <img src="https://vec-cse.github.io/init-fronend/lib_logo.png" alt="">
        </div>
    </nav>
    <input type="checkbox" id="check">
    <label for="check">
        <i class="fas fa-bars" id="btn"></i>
        <i class="fas fa-times" id="cancel"></i>
    </label>
    <!-- real body content -->
    <div class="sidebar">
        <header>Dashboard</header>
        <a href="https://www.youtube.com/channel/UCkWyo9mRHDA9bScSj2SYaRQ/videos" target="_blank">
            <i class="fas fa-stream"></i>
            <span>Video Lectures</span>
        </a>
        <a href="https://nptel.ac.in/" target="_blank">
            <i class="fas fa-calendar"></i>
            <span>NPTEL</span>
        </a>
        <a href="/slideshare">
            <i class="fa-solid fa-sliders"></i>
            <span>Slide Share</span>
        </a>
        <a href="https://ndl.iitkgp.ac.in/" target="_blank">
            <i class="fa-solid fa-book-open-reader"></i>
            <span>NDL</span>
        </a>
        <a href="http://164.100.247.26/" target="_blank">
            <i class="fa-brands fa-discourse"></i>
            <span>DELNET</span>
        </a>
        <a href="https://spoken-tutorial.org/??/" target="_blank">
            <i class="fa-solid fa-graduation-cap"></i>
            <span>Spoken Tutorial</span>
        </a>
        <a href="/profile" target="">
            <i class="fa-solid fa-user"></i>
            <span>Profile</span>
        </a>
        
        <a href="https://veccseblog1.blogspot.com/" target="_blank">
            <i class="fa-brands fa-blogger"></i>
            <span>Blog Spot</span>
        </a>
        <!-- <a href="https://instagram.com/cse_vec?igshid=YmMyMTA2M2Y=" target="_blank">
            <i class="fas fa-link"></i>
            <span>Instagram</span>
        </a> -->
        <a href="/auth/logout" target="">
            <i class="fa-solid fa-right-from-bracket"></i>
            <span>Logout</span>
        </a>
        <!-- <a href="https://instagram.com/cse_vec?igshid=YmMyMTA2M2Y=" target="_blank">
            <i class="fas fa-link"></i>
            <span>Instagram</span>
        </a> -->
         <a href="https://vec-credits.lavan.net.in/" target="_blank">
                <i class="fa-solid fa-pen-nib"></i>
                <span>Credits</span>
            </a>
    </div>
    <section>
        <span>COMPUTER SCIENCE AND ENGINEERING DEPARTMENT</span><br>
        <p>DEPARTMENT LIBRARY RESOURCES</p>
        <a href="/home"><i class="fa-solid fa-house home"></i></a>
        <div class="slide__ppt">
            <table>
                <tr>
                    <th>Faculty Name</th>
                    <th>Subject Name</th>
                    <th>Slide Link</th>
                </tr>
                <tr>
                    <td>Mrs.B.Hemalatha</td>
                    <td>Problem Solving and Python Programming</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=hemalathaathinarayan" class="view">Go To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Mr.A.Arockia Abins</td>
                    <td>Programming in C</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=aarockiaabinsAPIICSE" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Dr.M.Usha</td>
                    <td>Data Structures</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=UshaMahalingam" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Mrs. Amirthavalli</td>
                    <td>Computer Architecture</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=AmirthavalliKumar" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Mrs.S.Rajalakshmi</td>
                    <td>Database Management Systems</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=RajalakshmiS34" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Dr. Gunasundari</td>
                    <td>Design and Analysis of Algorithms</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=GunasundariSelvaraj" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Dr.P.Visu</td>
                    <td>Software Engineering</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=DrVISUCSEPROFESSOR" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Mrs. Aparna</td>
                    <td>Computer Networks</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=ssuser19b435" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Mrs. Jena Catherine Bel</td>
                    <td>Theory of Computation</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=jenadgeorge" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Dr. Gunasundari</td>
                    <td>Object Oriented Analysis and Design</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=GunasundariSelvaraj" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Mrs.Sridevi</td>
                    <td>Open Elective I Geographic Information System</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=sridevi5983" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Mr.K.Sundar</td>
                    <td>Artificial Intelligence</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=sundarKanagaraj1" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Mrs. Jena Catherine Bel</td>
                    <td>Compiler Design</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=jenadgeorge" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Mrs.S.Sridevi</td>
                    <td>Principles of Management</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=sridevi5983" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Mrs.Revathy</td>
                    <td>Professional Elective III, Human Computer Interaction</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=RevathiAPICSE" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
                <tr>
                    <td>Mrs.Lovelit Jose</td>
                    <td>Professional Elective IV, Professional Ethics in Engineering</td>
                    <td><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=LovelitJose" class="view">Go
                            To Presentation</a><i class="fa-solid fa-angles-right arrow"></i></td>
                </tr>
            </table>
        </div>
    </section>
</body>
</html>
